<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.foodexpress">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ProductListActivity"/>
        <activity android:name=".ProductDetailActivity"/>
        <activity android:name=".CartActivity"/>
        <activity android:name=".CheckoutActivity"/>
        <activity android:name=".OrdersActivity"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".QRScannerActivity"/>
        <activity android:name=".BluetoothActivity"/>
        <activity android:name=".SearchResultsActivity"/>
        <activity android:name=".AddProductActivity"/>
        <activity android:name=".FavoritesActivity"/>
    </application>
</manifest>